
.headerSenka{

   background-color: #888888;
    margin-top: 30px;
}



ul {list-style: none;padding:0px;margin: 0px;}
ul li {display: block;position: relative;float: right;border:2px hidden #000}
li ul {display: none;}
ul li a {display: block;background:white-space ;padding: 5px 10px 5px 10px;text-decoration: none;
         white-space: nowrap;color:black;}
ul li a:hover {background:whitesmoke;}
li:hover ul {display: block; position: absolute;}
li:hover li {float: none;;}
li:hover a {background:whitesmoke;}
li:hover li a:hover {background:whitesmoke;}
#drop-nav li ul li {border-top: 0px;}
ul li a { text-decoration: none; }



#onepage {
    text-align: center;
margin-top: 170px;

    border: 10px;
}


#Beldiv {
    position: relative;
    width: 100%;
    height:auto;
    display: flex;
}

.oddeleni {

width: 25%;
}

#prvakocka {
    border: #ffa500 60px solid;
    position: absolute;
    border-radius: 10px;
    
    background-color: orange;
    width: 50px;
    height: auto;
    top: 50px;


}
#vtorakocka {
    border: orange 50px solid;
    position: absolute;
    border-radius: 10px;
    height: auto
    background-color: orange;
    width: 50px;
    left: 50px;
    top: 50px;
}

#tretakocka {
    border: orange 60px solid;
    position: absolute;
    border-radius: 10px;
    height: auto;
    background-color: orange;
    width: 50px;
    left: 950px;
    top: 50px;

}

#cetvrtakocka {
    border: orange 60px solid;
    position: absolute;
    border-radius: 10px;
    height: auto;
    background-color: orange;
    width: 50px;
    
    top: 50px;

